body {
  font-family: Verdana, Arial, sans-serif;
  font-size: medium;
  background-color: white;
}
h1 {
  font-size: 170%;
  color: rgb(80%, 40%, 0%);
}
h2 {
  font-size: 1.3em;
  color: rgb(204, 102, 0);
}

h1, h2 {
  font-weight: normal;
  border-bottom: thin dotted #888888;
}

blockquote {
  font-style: italic;
  color: #cc6600;
}

address {
  text-decoration: line-through;
}

pre {
  text-decoration: underline overline;
}
